body, html {
  background-color: black;
}

body {
  justify-content: center;
  align-items: center;
}

.simulation-container {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.block, .infected, .dead, .recovered {
  margin: 0.25rem;
}